<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<!--    <property name="hibernate.connection.password"></property> set this in your local conf file-->
        <property name="hibernate.connection.url">jdbc:postgresql://84.238.192.10:5432/jWorld</property>
        <property name="hibernate.connection.username">jWorldADM</property>
        <property name="hibernate.default_schema">jwadm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    </session-factory>
</hibernate-configuration>
